<!-- Profile page for users to view and edit their profile information -->
{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-5 mx-5">
        <!-- Display the user's avatar -->
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} "/>
    </div>
    <!-- Error handling -->
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content pl-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">

                        <!--Username input-->
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}

                        <!--Email input-->
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}

                        <div class="pt-3">
                        <!--Weight input-->
                        <label class="small mb-1">Weight (kg):</label>
                            {{ user_form.weight }}

                        <!--Goal input-->
                        <label class="small mb-1">Goal (kcals):</label>
                            {{ user_form.goal }}
                        </div>
                    </div>
                    <div class="form-group">

                        <!--Change password link-->
                        <a href="{% url 'password_change' %}">Change Password</a>

                        <hr>
                        <!--Change avatar form-->
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                </div>
            </div>
            <br><br>
            <!--Save changes and reset buttons-->
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}